body {
    display: grid;
}
header, footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
header a {
    grid-row: 1;
    grid-column: 3/4;
}
.toggle {
    grid-column: 6;
}
footer p {
    grid-column: 1/5;
}
.linkcontainer {
    grid-column: 5/ span 6;
}