* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 428px;
    background: #ececec;
}
header, footer {
    background: #262626;
    color: #fff;
}
header h1 {
    font-weight: 500;
}
footer {
    height: 50px;
    align-items: center;
}
.toggle {
    height: 50px;
    width: 50px;
    margin: auto;
}
.toggle i {
    color: #53C3D0;
    cursor: pointer;
}
.logo {
    height: 93px;
    width: 100px;
    background: #ececec;
}
nav {
    position: absolute;
    top: 0;
    left: 101px;
    width: 328px;
    height: 775px;
    background: #262626;
    z-index: 3;
    display: none;
}
nav i {
    margin: 5px;
    color: #53C3D0;
    cursor: pointer;
}
nav li {
    list-style-type: none;
    text-align: center;
    margin: 60px;
}
nav .button {
    padding: 10px 120px
}
.subnav {
    position: absolute;
    top: 335px;
    left: 229px;
    width: 200px;
    height: 600px;
    background: #53C3D0;
    z-index: 3;
    color: #000000;
    display: none;
}
.subnav i {
    margin: 5px;
    color: #000000;
    cursor: pointer;
}
.subnav li {
    list-style-type: none;
    text-align: center;
    margin: 60px;
}
header a {
    margin: auto;
    text-decoration: none;
    color: inherit;
}
main {
    background-image: url(/assets/mobile-swimming-pool.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 388px;
    height: 614px;
    margin: 20px;
    background: #ececec;
    padding-top: 20px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}
.existing {
    position: absolute;
    bottom: 0;
    left: 30px;
}
.getstarted {
    width: 388px;
    background: #ececec;
    margin: 20px;
    border-radius: 30px;
}
.getstarted p {
    padding: 20px;
}
.smallp {
    font-size: 14px;
    margin: 15px;
}
.bold {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin: 20px;
}
#locate {
    width: 340px;
    height: 515px;
    background: #262626;
    color: #fff;
    margin: auto;
    position: relative;
}
#locate h2 {
    font-size: 28px;
    padding: 15px;
}
#locate div {
    position: absolute;
    bottom: 30px;
}
#taster {
    width: 280px;
    height: 350px;
    background: #262626;
    color: #fff;
    margin: auto;
    position: absolute;
    top: 25px;
    left: 50px;
    z-index: 2;
    border: 1px solid #fff;
    border-radius: 10px;
    display: none;
}
#taster a {
    color: inherit;
}
#taster p {
    margin-top: 100px;
}
#abilitypop {
    width: 280px;
    height: 350px;
    background: #53C3D0;
    color: #000000;
    margin: auto;
    position: absolute;
    top: 25px;
    left: 50px;
    z-index: 2;
    border: 1px solid #fff;
    border-radius: 10px;
    display: none;
}
#abilitypop p {
    margin-top: 20px;
}
#map {
    width: 340px;
    height: 515px;
    background: #262626;
    color: #fff;
    margin: auto;
    position: relative;
    display: none;
}
#map img {
    width: 340px;
    height: 400px;
    margin-bottom: 25px;
}
.left {
    float: left;
    margin-left: 10px;
}
#ability {
    width: 340px;
    height: 515px;
    background: #262626;
    color: #fff;
    margin: auto;
    position: relative;
    padding-top: 5px;
    display: none;
}
#ability li {
    padding: 5px 10px;
    margin: 10px 20px;
    border: 1px solid #fff;
    list-style-type: none;
}
#ability a {
    color: inherit;
}
#ability i {
    float: right;
    color: #53C3D0;
}
#ability p {
    margin: 20px;
}
#date {
    width: 340px;
    height: 515px;
    background: #262626;
    color: #fff;
    margin: auto;
    position: relative;
    padding-top: 5px;
    display: none;
}
#date .button {
    margin: 20px;
}
#times .button {
    margin: 20px;
}
#date img {
    margin: 100px 0px;
}

#times {
    width: 340px;
    height: 515px;
    background: #262626;
    color: #fff;
    margin: auto;
    position: relative;
    padding-top: 5px;
    display: none;
}
#times ul li{
    display: inline-block;
    margin: 20px;
}
#times a {
    color: inherit;
}
.button {
    background-color: #53C3D0;
    border: 1px solid #fff;
    color: #000000;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 10px;
}
#taster .button {
    padding: 10px 25px;
}
.right {
    margin-left: 190px;
}
input[type=text] {
    width: 90%;
    padding: 10px 20px;
    margin-top: 30px;
    box-sizing: border-box;
    text-align: right;
}

.location {
    background-color: #53C3D0;
    border: 1px solid #fff;
    color: #000000;
    padding: 15px 20px;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.location span {
    margin-right: 50px;
}
.linkcontainer a {
    margin-left: 15px;
    text-decoration: none;
    color: inherit;
}